<ion-list>
  <ng-container *ngFor="let group of structure">
    <ion-item-group>
      <ion-item [button]="true" [routerLink]="['/docs', group.link]">
        <ion-label>{{ group.title }}</ion-label>
      </ion-item>
      <ion-item [button]="true" [routerLink]="['/docs', group.link]" [fragment]="section.fragment"
        *ngFor="let section of group.children">
        <ion-label class="ion-padding-start">{{ section.title }}</ion-label>
      </ion-item>
    </ion-item-group>
    <!-- <ion-item-divider></ion-item-divider> -->
  </ng-container>
</ion-list>